@{
    ViewData["Title"] = "Начална страница";
}

<head>
    <link rel="stylesheet" href="~/css/Home/HomeStyles.css" />
</head>
<body>
    <video autoplay muted loop id="onyxVideo">
        <source src="@Url.Content("~/videos/Onyxblue.mp4")" type="video/mp4" />
        Вашият браузър не поддържа видеото.
    </video>
    <div class="main-content">
        <section class="first-section">
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="homeButtonsContainer">
                    <div>
                        <a class="login fs-3 fw-bolder me-4" asp-area="Identity" asp-page="/Account/Login">Вход</a>
                    </div>
                    <div>
                        <a class="register fs-3 fw-bolder" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                    </div>
                </div>
            }
        </section>
    </div>
    <div class="container content">
        <section class="second-section">
            <div class="container section-header mb-5">
                <hr />
                <h1 class="text-light">Документация</h1>
                <hr />
            </div>
            <div class="container documentation">
                <div>
                    <img src="~/images/documents.png" width="350" height="auto"/>
                </div>
                <div class="documentation-content mt-5">
                    <p class="lead text-white fs-4">
                        В секцията „Документация“ потребителите ще открият структурирана и достъпно поднесена 
                        информация за различни програмни езици като HTML, CSS, JavaScript и други. <br /><br />
                        Всеки език е разделен на теми, като всяка тема съдържа подробно обяснение и практически 
                        примери
                    </p>
                </div>
            </div>
        </section>
    </div>
    <div class="third-section-container mb-5">
        <section class="third-section">
            <div class="container section-header mt-5 mb-5">
                <hr />
                <h1 class="text-dark">Тестове</h1>
                <hr />
            </div>
            <div class="container test">
                <div>
                    <img src="~/images/online-quiz.gif" width="350" height="auto" />
                </div>
                <div class="test-content">
                    <p class="lead text-dark fs-4">
                        В секцията „Документация“ потребителите ще открият структурирана и достъпно поднесена
                        информация за различни програмни езици като HTML, CSS, JavaScript и други. <br /><br />
                        Всеки език е разделен на теми, като всяка тема съдържа подробно обяснение и практически
                        примери
                    </p>
                </div>
            </div>
        </section>
        <section class="fourth-section-container p-5">
            <div class="container section-header mb-5">
                <hr />
                <h1 class="text-light">Форум</h1>
                <hr />
            </div>
            <div class="container forum">
                <div class="forum-image">
                    <img src="~/images/question-mark.png" />
                    <p>Задай въпрос</p>
                </div>
                <div class="forum-image">
                    <img src="~/images/conversation.png" />
                    <p>Получи отговор</p>
                </div>
                <div class="forum-image">
                    <img src="~/images/learning.png" />
                    <p>Научи нещо ново</p>
                </div>
            </div>
        </section>
        <section class="fifth-section-container p-5">
            <div class="container section-header mb-5">
                <hr />
                <h1 class="text-white">Новини</h1>
                <hr />
            </div>
            <div class="container news">
                <div class="forum-image">
                    <img src="~/images/megaphone.png" />
                    <p>Задай въпрос</p>
                </div>
            </div>
        </section>
    </div>
</body>

