@{
    ViewData["Title"] = "Начална страница";
}

<head>
    <link rel="stylesheet" href="~/css/Home/HomeStyles.css" />
</head>
<body>
    <div class="text-center">
        <div class="mb-5">
            <img src="~/images/OnyxLogo.png" alt="Onyx Logo" class="logo" />
        </div>
        <div class="mb-5">
            <p class="fs-5 text-dark fw-bolder lead fs-4">
                „Оникс“ е уеб приложение, създадено с мисията да подобри компютърната грамотност на 
                потребителите. <br />
                То съчетава теория и практика, като предоставя тестове за проверка на 
                знанията и богата документация за основните компоненти на компютъра – процесор, дънна 
                платка, памет, твърд диск, графична карта и други. <br /> <br />
                Чрез „Оникс“ потребителите могат да 
                учат самостоятелно, в собствено темпо, и да изградят стабилна основа в света на 
                информационните технологии.
            </p>
        </div>
        <div class="mt-5 mb-5">
            <hr />
            <h1 class="display-4 text-light fw-bold">Решавай тестове</h1>
            <hr />
        </div>
        <div class="container ps-5 bg-white gifContainer"> 
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5"> 
                <div class="col-10 col-sm-8 col-lg-6"> 
                    <img src="~/images/online-quiz.gif" class="d-block mx-lg-auto img-fluid" width="400" height="200" loading="lazy"> 
                </div> 
                <div class="col-lg-6 testsContainer"> 
                    <h1 class="display-5 fw-bold lh-1 mb-5" id="testsHeading">
                        Тестове
                    </h1> 
                    <p class="lead testsPara">
                        Решаването на тестове е ефективен начин за затвърждаване на знанията и проверка на 
                        разбирането по дадена тема. <br /><br />
                        Чрез редовни упражнения потребителите могат да открият 
                        своите силни и слаби страни, да подобрят уменията си и да се подготвят по-добре 
                        за практическо приложение на наученото. <br /><br />
                        Тестовете правят процеса на обучение 
                        интерактивен и ангажиращ.
                    </p> 
                </div> 
            </div> 
        </div>
        <div class="mt-5 mb-5">
            <hr />
                <h1 class="display-4 text-light fw-bold">Документация</h1>
            <hr />
        </div>
        <div class="container documentation mt-5">
            <div class="me-5">
                <img src="~/images/paper.png" width="auto" height="300px"/>
            </div>
            <div class="documentationContent">
                <p class="lead fw-bold fs-4">
                    Документацията предоставя ясно и достъпно обяснение на основните хардуерни 
                    компоненти на компютъра. <br /> <br />
                    Всеки раздел съдържа текстово описание, илюстрации и ключови характеристики на компонентите,
                    което помага на потребителите да разберат какво представляват, как функционират и как се 
                    свързват помежду си. <br /> <br />
                    Целта е да се изгради стабилна основа от знания чрез лесно усвоимо 
                    съдържание.
                </p>
            </div>
        </div>
        <div class="mt-5 mb-5">
            <hr />
                <h1 class="display-4 text-light fw-bold">Форум</h1>
            <hr />
        </div>
        <div class="container forum mt-5">
            <div class="mt-5">
                <img src="~/images/messageWhite.png" width="auto" height="300px" />
            </div>
            <div class="documentationContent mt-5">
                <p class="lead fw-bold fs-4">
                    Форумът в е място за взаимопомощ и обмяна на знания между потребителите. <br />
                    Всеки може да задава въпроси, свързани с компютри, технологии и дигитална грамотност, 
                    а други потребители – да дават отговори, съвети или споделят своя опит. <br /><br />
                    Това създава активна 
                    общност, в която ученето не спира с тестовете и документацията, а продължава чрез реални
                    дискусии и практически казуси.
                </p>
            </div>
        </div>
    </div>
</body>

