@using Onyx.ViewModels
@{
    ViewData["Title"] = "Създаване";
}
@model QuizViewModel

<head>
    <style>
        h1{
            color: #A7C99B;
            text-align: center;
        }
        .createQuiz{
            border: 4px solid #A7C99B;
            border-radius: 10px;
            padding: 20px;
        }
        label{
            color: #687B61;
            font-weight: bold;
        }
        .inputQuiz{
            border: 2px solid #A7C99B;
            border-radius: 10px;
        }
        .buttonsQuiz{
            display: flex;
            justify-content: center;
            gap: 20px;
        }
        .btnQuiz{
            font-weight: bold;
            padding: 5px 50px;
        }
        #quizBack{
           background-color: white !important;
            color: #A7C99B;
            border: 2px solid #A7C99B;
        }
        #quizBack:hover{
                background-color: #A7C99B !important;
            color: white;
        }
        .footer, .navbar {
            background-color: #1E1E1E !important;
        }
    </style>
</head>
<body>
    <h1 class="mb-5">Създаване на тест</h1>
    <div class="container createQuiz">
        <form method="post" asp-action="Create" enctype="multipart/form-data">
            <div class="container mb-3">
                <label asp-for="ImageFile" class="fs-5 form-label">Изображение</label>
                <input asp-for="ImageFile" class="form-control inputQuiz" type="file" />
            </div>
            <div class="container mb-3">
                <label asp-for="Title" class="fs-5 form-label">Заглавие</label>
                <input asp-for="Title" class="form-control inputQuiz" type="text" />
            </div>
            <div class="container mb-3">
                <label asp-for="TimeLimit" class="fs-5 form-label">Време (в минути)</label>
                <input asp-for="TimeLimit" id="timer" class="form-control inputQuiz" min="3" step="1" placeholder="3"/>
            </div>
            <div class="container buttonsQuiz">
                <a asp-action="Index" asp-controller="Quizzes" id="quizBack" class="btn btn-danger btnQuiz">Назад</a>
                <button type="submit" class="btn btn-success btnQuiz">Създай</button>
            </div>
        </form>
    </div>
    <script>
        let input = document.querySelector("#timer");
        input.addEventListener("input", function(){
            if(this.value < 3)
            {
                this.value = 3;
            }
        })
    </script>
</body>