@{
    ViewData["Title"] = "Тестове";
}

<head>
    <style>
        body{
            background-color: #D3D6DB;
        }
        h1{
            text-align: center;
            color: #600013;
        }
    </style>
</head>
<body>
    <h1 class="fs-1">Тестове</h1>
</body>