@{
    ViewData["Title"] = "Тестове";
}
@model IEnumerable<Quiz>

<head>
    <style>
        body{
            background-color: white;
        }
        .heading{
            text-align: center;
            color: #1E1E1E;
            font-weight: bold;
            font-size: 3rem;
        }
        .card{
            background-color: #006B6B;
        }
        .quizImage{
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
        .quizInfo{
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
        }
        .quizBtns{
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: end;
            gap: 10px;
        }
        .quizBtn{
            padding: 10px 70px;
            background-color: #00A9A9;
            color: white;
        }
        .quizBtn:hover {
            border: 6px solid #00A9A9;
            background-color: white;
            color: #00A9A9;
            padding: 4px 64px;
        }
        .footer, .navbar{
            background-color: #1E1E1E !important;
        }
    </style>
</head>
<body>
    <h1 class="heading">Тестове</h1>
    <a asp-action="Create" asp-controller="Quizzes" class="ms-4 btn quizBtn">Създай тест</a>
    <div class="container">
        <div>
            @foreach(var quiz in Model)
            {
                <div class="card col m-3" style="width: 100%; height: 300px; padding: 1rem">
                    <div class="row">
                        <div class="col-4">
                            <h3 class="card-title text-start text-light mb-3">@quiz.Title</h3>
                            @if (quiz.ImageData != null)
                            {
                                <img src="@Url.Action("GetImage", "Quizzes", new { quizId = quiz.Id })"
                                     class="img-thumbnail quizImage"
                                     alt="Снимка на тест" />
                            }
                        </div>
                        <div class="col-4 quizInfo">
                            <h5 class="text-center text-light">Време: @quiz.TimeLimit мин.</h5>
                            <h5 class="text-center text-light">Брой въпроси: 10</h5>
                        </div>
                        <div class="col-4 quizBtns">
                            <a class="btn quizBtn" asp-action="Index" asp-controller="Questions"
                               asp-route-quizId="@quiz.Id">
                                Редактирай</a>
                            <a class="btn quizBtn">Започни</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>