@page
@model RegisterModel
@{
	ViewData["Title"] = "Регистрация";
}

<style>
	.nav-link {
		color: white !important;
	}
	.navbar {
		background-color: #A7C99B !important;
	}
	footer {
		background-color: #A7C99B !important;
		text-align: center;
		font-size: 23px;
	}
	form {
		width: 800px;
		height: 450px;
		border-radius: 20px;
		background-color: #588547;
		margin-left: 5%;
		border: 5px solid white;
	}
	label {
		margin-right: 20px;
		color: white;
	}
	.inputs {
		padding: 25px;
		padding-right: 25px;
		font-size: 18px;
	}
	.input {
		border-radius: 10px;
		background-color: white;
		width: 530px;
		height: 40px !important;
		margin-right: 5%;
		margin-top: 2%;
		margin-bottom: 2%;
		border: 3px solid white;
	}
	#title {
		padding: 6px;
		font-weight: 600;
		font-size: 40px;
		color: white;
		margin-bottom: -5px;
	}
	#line {
		height: 5px;
		border-width: 0;
		color: black;
		background-color: white;
		margin-top: 3%;
		opacity: 1;
	}
	#register-submit {
		font-size: 26px;
		background-color: #A7C99B;
		border: none;
		color: white;
		margin-right: 7%;
		border: 3px solid white;
		padding: 0;
	}
	#register-submit:hover {
		background-color: white;
		color: #A7C99B;
	}
	#back-btn {
		font-size: 26px;
		border: none;
		color: white;
	}
	#back-btn:hover {
		text-decoration-line: underline;
		text-underline-offset: 8px;
	}
	input:invalid {
		border-bottom: 4px solid red;
	}
	input:focus {
		outline: none;
		border-bottom: 5px solid #687B61;
	}
	@@font-face {
		font-family: 'Open Sans';
		src: url("@Url.Content("~/css/OpenSans.woff")") format('woff');
	}
	.Font_OpenSans {
		font-family: 'Open Sans'
	}
</style>
<link rel="stylesheet" href="~/css/Home/HomeStyles.css" />
<section class="Font_OpenSans" style="">
	<div class="ps-lg-5 pe-lg-5">
		<div class="m-sm-5 ps-sm-5 pe-sm-5 pt-sm-1">
			<div class="m-md-5  ps-ms-5 pe-ms-5 pt-3">
				<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
					<h2 id="title" class="text-center">Регистрация</h2>
					<hr id="line" />
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<div class="inputs">
						<div class="form-group row">
							<label for="staticEmail" class="col-sm-2 col-form-label fs-3">Email:</label>
							<div class="form-floating col-sm-9">
								<input asp-for="Input.Email" class="input pe-0" autocomplete="username" aria-required="true" />
								<span asp-validation-for="Input.Email" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group row">
							<label for="inputPassword" class="col-sm-2 col-form-label fs-3">Парола:</label>
							<div class="form-floating col-sm-9">
								<input asp-for="Input.Password" class="input" autocomplete="current-password"
									   aria-required="true" />
								<span asp-validation-for="Input.Password" class="text-danger"></span>
							</div>
							<label for="inputPassword" class="col-sm-2 col-form-label fs-3">Потвърди паролата:</label>
							<div class="form-floating col-sm-9">
								<input asp-for="Input.ConfirmPassword" class="input" autocomplete="current-password"
									   aria-required="true" />
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>
						</div>
					</div>
					<div class="row ps-4 pe-4">
						<div class="gap-3 d-md-flex justify-content-md-end ps-4 pe-4">
							<a href="https://localhost:7014/" id="back-btn" class="btn btn-lg pt-0 pb-0">Назад</a>
							<button id="register-submit" type="submit" class="btn btn-lg btn-primary pt-0 pe-4 ps-4 ">Регистрация</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
